@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

.upper-section {
    background-image: url('https://wallpapercrafter.com/th800/69010-fox-wild-artist-digital-art.jpg');
    height: 50vh;
}
.logo {
    top: 41vh;
    left: 0;
    right: 0;
    margin: 0 auto;
}